<% content_for :show_content do %>
  <%= render layout: 'layouts/resources/show_table' do %>
  		<tr class="row">
        <th><%= Note.human_attribute_name("created_at") %></th>
        <td><%= @resource.created_at.to_date %></td>
      </tr>
      <tr class="row">
        <th><%= Note.human_attribute_name("updated_at") %></th>
        <td><%= @resource.updated_at.to_date %></td>
      </tr>
      <tr class="row">
        <th><%= Note.human_attribute_name("name") %></th>
        <td><%= @resource.name %></td>
      </tr>
      <tr class="row">
        <th><%= Note.human_attribute_name("tag_list") %></th>
        <td class="col"><%= raw @resource.tag_list.map { |t| link_to t, tag_notes_path(t) }.join(', ') %></td>
      </tr>
  <% end %>

  <%= render layout: 'layouts/resources/show_table', locals: {title: Note.human_attribute_name("text")} do %>
      <tr class="row">
        <%= auto_link(raw(@resource.text)) %>
      </tr>     
  <% end %>

<% end %>