<%= form_for @point, url: {controller: "points", action: :create, format: :js}, remote: true, :authenticity_token => true do |f| %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.text_field :description %>
  </div>
  
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :map_id %>
  
  <%= f.submit %>
  
<% end %>