<% provide(:title, t('fishing_memories.devise.edit_registration.title')) %>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%=f.inputs do %>

    <%=f.input :username, label: t('fishing_memories.devise.username.title'), required: true%>
    <%=f.input :email, label: t('fishing_memories.devise.email.title')%>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('fishing_memories.devise.edit_registration.unconfirmed_email') %>: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%=f.input :password, label: t('fishing_memories.devise.password.title')%>
    <%=f.input :password_confirmation, label: t('fishing_memories.devise.password_confirmation.title'), required: true%>
    <%=f.input :current_password, label: t('fishing_memories.devise.current_password.title'), required: true%>
  <% end %>

  <%=f.actions do%>
    <%=f.action :submit, label: t('fishing_memories.devise.edit_registration.submit'), button_html: { value: t('fishing_memories.devise.edit_registration.submit') } %>
  <% end %>

  <%= link_to t('fishing_memories.back'), :back %><br />
<% end %>

<h2><%= t('fishing_memories.devise.edit_registration.delete.title')  %></h2>

<%= button_to t('fishing_memories.devise.edit_registration.delete.submit'), registration_path(resource_name), data: { confirm: t('fishing_memories.delete_confirmation') }, method: :delete %>

<%= link_to t('fishing_memories.back'), :back %><br />
