<div class="index_as_table">
<br>
	<%= render layout: 'layouts/resources/index_table' do %>
		<% content_for :table_head do %>
					<th class="sortable col"><%= t('fishing_memories.related_memories') %></th>
					<th class="sortable col"><%= Memory.human_attribute_name("description") %></th>
					<th class="col col-actions"></th>
		<% end %>

		<% content_for :table_body do %>
			<% memories.each do |memory| %>
				<tr class="odd">
					<td class="col"><%= memory.title %></td>
					<td class="col"><%= clear_text_from_tags(memory.description).truncate(70) %></td>
					<td class="col col-actions">
	          <div class="table_actions">
	          	<%= render 'layouts/resources/index_table_actions', resource: memory %>
	          </div>
	        </td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</div> 