<% content_for :index_content do %>
	<div class="index_as_table">
		<%= render layout: 'layouts/resources/index_table' do %>
			<% content_for :table_head do %>
				<%= sortable_col "occured_at" %>
				<%= sortable_col "description"  %>
				<th class="col"><%= Memory.human_attribute_name("weather") %></th>
				<%= sortable_col "ponds_name", Memory.human_attribute_name("ponds") %>
				<%= sortable_col "places_name", Memory.human_attribute_name("places") %>
				<%= sortable_col "tackles_name", Memory.human_attribute_name("tackles") %>
				<%= sortable_col "tackle_sets_name", Memory.human_attribute_name("tackle_sets") %>
				<th class="col col-actions"></th>
			<% end %>

			<% content_for :table_body do %>
				<% @resources.each do |resource| %>
					<tr class="odd" id="<%=singular_resource_name%>_<%=resource.id%>">
						<td class="col" style="white-space: nowrap"><%= resource.occured_at %></td>
						<td class="col"><%= clear_text_from_tags(resource.description).truncate(70) %></td>
						<td class="col"><%= truncate(resource.weather, :length => 30) %></td>
						<td class="col"><%= map_and_join(resource.ponds, :name).truncate(70) %></td>
						<td class="col"><%= map_and_join(resource.places, :name).truncate(70) %></td>
						<td class="col"><%= map_and_join(resource.tackles, :name).truncate(70) %></td>
						<td class="col"><%= map_and_join(resource.tackle_sets, :name).truncate(70) %></td>
						<td class="col col-actions">
		          <div class="table_actions">
		          	<%= render 'layouts/resources/index_table_actions', resource: resource %>
		          </div>
		        </td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>