<% content_for :index_content do %>
	<div class="index_as_table">
		<%= render layout: 'layouts/resources/index_table' do %>
			<% content_for :table_head do %>
						<%= sortable_col "occured_at", Memory.human_attribute_name("occured_at")  %>
						<th class="col"><%= Memory.human_attribute_name("tackles") %></th>
						<th class="col"><%= Memory.human_attribute_name("tackle_sets") %></th>
						<th class="col"><%= Memory.human_attribute_name("ponds") %></th>
						<%= sortable_col "description", Memory.human_attribute_name("description") %>
						<th class="col col-actions"></th>
			<% end %>

			<% content_for :table_body do %>
				<% @resources.each do |resource| %>
					<tr class="odd" id="<%=singular_resource_name%>_<%=resource.id%>">
						<td class="col"><%= resource.occured_at %></td>
						<td class="col"><%= pluck_and_join(resource.tackles, :name).truncate(70) %></td>
						<td class="col"><%= pluck_and_join(resource.tackle_sets, :name).truncate(70) %></td>
						<td class="col"><%= pluck_and_join(resource.ponds, :name).truncate(70) %></td>
						<td class="col"><%= clear_text_from_tags(resource.description).truncate(70) %></td>
						<td class="col col-actions">
		          <div class="table_actions">
		          	<%= render 'layouts/resources/index_table_actions', resource: resource %>
		          </div>
		        </td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>

<%= content_for :sidebar_content do %>
	<%= render 'layouts/resources/filter_form' %>
<% end %>