<% content_for :show_content do %>
  <%= render layout: 'layouts/resources/show_table' do %>
  		<tr class="row">
        <th><%= Memory.human_attribute_name("occured_at") %></th>
        <td><%= @resource.occured_at %></td>
      </tr>		
  <% end %>

  <%= render layout: 'layouts/resources/show_table', locals: {title: Memory.human_attribute_name("description")} do %>
      <tr class="row">
        <%= simple_format(@resource.description) %>
      </tr>     
  <% end %>

<% end %>