<% content_for :show_content do %>
  <%= render layout: 'layouts/resources/show_table' do %>
  		<tr class="row">
        <th><%= Memory.human_attribute_name("occured_at") %></th>
        <td><%= @resource.occured_at %></td>
      </tr>
      <tr class="row">
        <th><%= Memory.human_attribute_name("weather") %></th>
        <td><%= @resource.weather %></td>
      </tr>
      <tr class="row">
        <th><%= Memory.human_attribute_name("ponds") %></th>
        <td><%= render partial: 'layouts/resources/resource_link_to', collection: @resource.ponds, as: :resource, spacer_template: 'shared/comma' %></td>
      </tr> 
      <tr class="row">
        <th><%= Memory.human_attribute_name("tackles") %></th>
        <td><%= render partial: 'layouts/resources/resource_link_to', collection: @resource.tackles, as: :resource, spacer_template: 'shared/comma' %></td>
      </tr>
      <tr class="row">
        <th><%= Memory.human_attribute_name("tackle_sets") %></th>
        <td><%= render partial: 'layouts/resources/resource_link_to', collection: @resource.tackle_sets, as: :resource, spacer_template: 'shared/comma' %></td>
      </tr>
  <% end %>

  <%= render layout: 'layouts/resources/show_table', locals: {title: Memory.human_attribute_name("description")} do %>
      <tr class="row">
        <%= raw(@resource.description) %>
      </tr>     
  <% end %>

<% end %>