<div class="header" id="header">
	<div id="site_title">
		<%= link_to full_title, root_path  %>
	</div>

	<ul class="header-item tabs" id="tabs">
		<% if user_signed_in? %>
			<% if admin_namespace? %>
				<%= render 'layouts/admin_tabs' %>
			<% else %>
				<%= render 'layouts/tabs' %>
			<% end %>
		<% end %>
	</ul>

	
	<ul class="header-item tabs" id="utility_nav">
		<% if user_signed_in? %>
			<% if current_user.admin? %>
				<% if admin_namespace? %>
					<li><%= nav_link (Memory.model_name.human count: PLURAL_MANY_COUNT), memories_path, 'memories'  %></li>
				<% else %>
					<li><%= link_to "#{t('fishing_memories.admin.root_link')}", admin_root_path %></li>
				<% end %>
				
			<% end %>
			<li id="current_user"><%= link_to "#{current_user.email}", edit_user_registration_path(current_user) %></li>
			<li id="sign_out"><%= link_to("#{t('fishing_memories.sign_out')}", destroy_user_session_url, :method => 'delete') %></li>

		<% else %>
			<%if controller_name != 'registrations' %>
				<li><%= link_to "#{t('fishing_memories.devise.sign_up.title')}", new_user_registration_path %></li>
			<% end%>
			<%if controller_name != 'sessions' %>
				<li><%= link_to "#{t('fishing_memories.devise.sign_in.title')}", new_user_session_path %></li>
			<% end%>
		<% end %>
	</ul>
</div>
