<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= resolve_body_class %>">
	<div class="wrapper">
		<%= render 'layouts/header' %>

		<% if devise_controller? %>
			<%= render layout: 'layouts/devise_layout' do %>
				<%= yield %>
			<% end %>
		<% else %>
			<% if user_signed_in? && !static_pages_controller? %>
				<%= render 'layouts/title_bar' %>
			<% end %>
			<%= render 'layouts/flashes' %>
			<div id="fishing_memories_content" class= <%= 'without_sidebar' unless show_sidebar? %>>
				<%= render layout: 'layouts/main_content_layout' do %>
	        <%= content_for?(:page_content) ? yield(:page_content) : yield %>
	      <% end %>
	      <% if show_sidebar? %>
		      <%= render layout: 'layouts/sidebar' do %>
		      	<%= yield(:sidebar_content) if content_for?(:sidebar_content) %>
		      <% end %>
	      <% end %>
      </div>    
		<% end %>

		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
